@model IEnumerable<CEBodyPlanet.Models.Persona>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DNI_Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido_Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono_Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail_Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio_Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DNI_Persona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Persona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_Persona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono_Persona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail_Persona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio_Persona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Persona">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Persona">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Persona">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
